/* .hero-body {
    background: url(../images/BannerUpdate2.png);
    background-size: cover;
    margin-bottom: 90px;
    height: 20vh;
} */

/* Banner */
.parent {
    position: relative;
    top: 0;
    left: 0;
}

.image1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40vh;
    object-fit: cover;
    margin-bottom: 90px;
    background-repeat: no-repeat;
}

/* .image2 {
    position: absolute;
    align-content: center;
    justify-content: center;
    align-items: center;
} */

h3 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 150px;
    font-weight: 900;
    position: absolute;
    top: 20px;
    width: 100vw;
    margin-top: 5vw;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 3px 3px 10px black;
    
}

/* body */

.button {
    background-color: #D92929;
    color: white;
}

.title {
    font-family: 'Montserrat', sans-serif;
    color: #D92929;
}

.post {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.instructions {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color: black;
    margin-bottom: 90px;
}

/* Navbar */

.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    padding: 2px;
    justify-content: center;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.3rem;
    font-weight: 400;
    color: black;
}

h2 {
    font-family: 'Montserrat', sans-serif;

}


.nav-link:hover{
    color: #D92929;
}


/* Footer */
.footer {
    /* position: fixed; */
    position: relative;
    margin-top: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #D92929;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
}

.input {
    width: 25%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.button {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    margin-top: 20px;
}

.content {
    display: block;
}

.food {
    display: block;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

/* img {
    /* margin-left:20%;  */
    /* display: block;
    margin-left: 450px;
    border-radius: 5px;

    } */

    
@media only screen and (max-width: 768px) {

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px black
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    h3 {
        font-size: 13vw;
    }
}


