:root {
  --textColor: black;

}

/* Banner Image */
.bannerImage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}

/* h1 */
.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  padding: 30px;
  margin-bottom: 60px;
  color: var(--textColor);
}


.bannerImage {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
  height: 500vh;
}

/* Sizing of Banner Image */


/* Button Links */

/* Form */
/* *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
} */

body {
  height: 100vh;
  width: 100%;
  background: rgb(166, 33, 3);
  background: radial-gradient(
    circle,
    rgba(166, 33, 3, 1) 39%,
    rgba(250, 91, 55, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: (--textColor);
}

.form__label {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 20%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

/* Responsive Styling */

@media screen and (max-width: 1099px) {
  header {
    padding: 0 0 5px 0;
    text-align: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 0 0 5px 0;
    text-align: center;
    justify-content: center;
  }

  @media screen and (max-width: 576px) {
    header {
      padding: 0 0 5px 0;
      text-align: center;
      flex-direction: row;
      justify-content: center;
    }
  }
}
