button * {
    color :blue;
    background-color: blueviolet;
}
#oldFoodChoice {
    align-items: center;
    font-size: 2em;
    text-align: center;
    margin: 0 3em 0 3em;
}
a {
    display: block;
}
#image {
    align-items: center;
    font-size: 2em;
    text-align: center;
    margin: 0 3em 0 3em;
}
#drinks {
    align-items: center;
    font-size: 2em;
    text-align: center;
    margin: 0 3em 0 3em;
    list-style: none;  
}
#drinks ul li {
    align-items: center;
    font-size: 2em;
    text-align: center;
    margin: 0 3em 0 3em;
    list-style: none;  
}

#drinkName {
    font-family: 'Montserrat', sans-serif;
    color: #D92929;
    margin-top: 90px;
}

#instructions {
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-top: 50px;
    font-size: large;
    line-height: 1.5em;
}

#ingredUL {
    font-family: 'Montserrat', sans-serif;
    color: #D92929;
    margin-top: 40px;
    font-size: large;
    line-height: 3em;
}